# Vanessa Williams
# Week 6

### Part 1: . Data Normalization

In [7]:
import pandas as pd

# Load the new data from the provided file
file_path = 'calif_housing_data.csv.csv'

# Reading the new CSV file to inspect its contents
data = pd.read_csv(file_path)

# Displaying the first few rows of the new data to understand its structure
data.head()

# Defining the normalization function
def normalize_vector(vector):
    min_val = vector.min()
    max_val = vector.max()
    normalized = (vector - min_val) / (max_val - min_val)
    return normalized

# Normalizing the 'median_income' column from the dataset
normalized_median_income = normalize_vector(data['median_income'])

# Displaying the first few values of the normalized column
normalized_median_income.head()

0    0.539668
1    0.538027
2    0.466028
3    0.354699
4    0.230776
Name: median_income, dtype: float64

### Part 2: Data Standardization

In [12]:
import pandas as pd

# Load the CSV file
file_path = 'calif_housing_data.csv.csv'
data = pd.read_csv(file_path)

# Define the function that standardizes a vector (array)
def standardize_vector(vector):
    mean_val = vector.mean()
    std_val = vector.std()
    standardized = (vector - mean_val) / std_val
    return standardized

# Standardize the 'median_income' column as an example
standardized_median_income = standardize_vector(data['median_income'])

# Display the first few values of the standardized column
print(standardized_median_income.head())

0    2.344709
1    2.332181
2    1.782656
3    0.932945
4   -0.012881
Name: median_income, dtype: float64

### Section 3: Questions

#### A: How many rows does this data set have?

In [16]:
# Get the number of rows in the dataset
num_rows = data.shape[0]

# Print the number of rows
print(num_rows)

20640

#### B: Get the number of rows in the dataset

In [20]:
# Extract the target vector (median_house_value)
target_vector = data['median_house_value']

# Display the first few values of the target vector
print(target_vector.head())

0    452600.0
1    358500.0
2    352100.0
3    341300.0
4    342200.0
Name: median_house_value, dtype: float64

#### C: Create a new feature by taking the total bedrooms divided by the number of households. What does this new feature represent?

In [23]:
# Create a new feature by dividing total_bedrooms by households
data['bedrooms_per_household'] = data['total_bedrooms'] / data['households']

# Display the first few rows of the new feature
print(data[['total_bedrooms', 'households', 'bedrooms_per_household']].head())

   total_bedrooms  households  bedrooms_per_household
0           129.0         126                1.023810
1          1106.0        1138                0.971880
2           190.0         177                1.073446
3           235.0         219                1.073059
4           280.0         259                1.081081

#### The new feature, bedrooms_per_household, has been created by dividing total_bedrooms by households. This feature represents the average number of bedrooms per household in each observation.
#### This feature can give insights into the housing density and living space available for each household in a given area

#### D: Now, create a new data frame that has three features: the median age, median income, and the new feature created in part (c)

In [27]:
# Create a new DataFrame with three features: 'housing_median_age', 'median_income', and 'bedrooms_per_household'
selected_features_df = data[['housing_median_age', 'median_income', 'bedrooms_per_household']]

# Display the first few rows of the new DataFrame
print(selected_features_df.head())

   housing_median_age  median_income  bedrooms_per_household
0                  41         8.3252                1.023810
1                  21         8.3014                0.971880
2                  52         7.2574                1.073446
3                  52         5.6431                1.073059
4                  52         3.8462                1.081081

#### E: Take the data frame new and apply data standardization to the features

In [30]:
# Applying data standardization to the selected features DataFrame
standardized_df = selected_features_df.apply(lambda x: (x - x.mean()) / x.std())

# Display the first few rows of the standardized DataFrame
print(standardized_df.head())

   housing_median_age  median_income  bedrooms_per_household
0            0.982119       2.344709               -0.153859
1           -0.607004       2.332181               -0.262930
2            1.856137       1.782656               -0.049603
3            1.856137       0.932945               -0.050416
4            1.856137      -0.012881               -0.033567